body {background-color:cornsilk; width:90%; margin: 0 auto;}
h1 {float:right;background-color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; background-color:dimgray; margin-right: 27%;}
fieldset.kafelki{background-color: rgb(169, 169, 169);border-width: 5px;border-color: black;border-style: dashed;box-shadow: 5px 5px dimgray;}
td, tr{padding: 0px 0px;}
img.przycisklogowania{float:right; margin-right: 22%}
figcaption{
    justify-content: center;
        text-align: center;
        align-content: center;
        align-items: center;
    color: red; text-shadow: 5px;} 
